Repository FE-Ocean/MEETSIN, pull requests merged in 2024-12, with the labels that each got.

#49 feat: 랜딩 페이지 추가 및 포인트 색상 변경
  client/package.json
  client/public/favicon.ico
  client/src/app/layout.tsx
  client/src/app/lobby/style.module.scss
  client/src/app/page.tsx
  client/src/app/room/[roomId]/page.tsx
  client/src/app/room/[roomId]/style.module.scss
  client/src/app/style.module.scss
  client/src/components/button/viewSwitchButton/viewSwitchButton.module.scss
  client/src/components/button/viewSwitchButton/viewSwitchButton.tsx
  client/src/components/chat/messageInput/messageInput.module.scss
  client/src/components/chat/myMessage/myMessage.module.scss
  client/src/components/common/button/button.module.scss
  client/src/components/common/button/button.tsx
  client/src/components/lobby/lobbyHeader/lobbyHeader.module.scss
  client/src/components/lobby/lobbyHeader/lobbyHeader.tsx
  client/src/components/modals/createRoom/createRoom.tsx
  client/src/components/modals/renameRoom/renameRoom.tsx
  client/src/components/modals/timerSetting/timerSetting.tsx
  client/src/components/screen/window/screenWindow.module.scss
  client/src/components/screen/window/screenWindow.tsx
  client/src/constants/landing.const.ts
  client/src/styles/_mixin.scss
  client/src/styles/_variables.scss
  client/yarn.lock
  server/.yarn/install-state.gz
Labels: client

#51 feat: 맵 생성 (및 맵 관련 부분 처리)
  client/public/map/base.png
  client/public/map/indoor.png
  client/public/map/map.json
  client/public/map/urban.png
  client/public/space.jpg
  client/src/components/chat/messageInput/messageInput.tsx
  client/src/components/phaser/map/map.module.scss
  client/src/components/phaser/map/map.tsx
  client/src/components/phaser/map/phaserConfig.ts
  client/src/components/phaser/map/phaserScene.js
  client/src/components/phaser/map/phaserScene.ts
  client/src/jotai/atom.ts
  server/src/phaser/phaser.gateway.ts
Labels: client

#50 fix: socket 유저정보 관련 버그
  client/src/app/room/[roomId]/hooks/useChatSocket.ts
  client/src/app/room/[roomId]/page.tsx
  server/src/rooms/rooms.gateway.ts
Labels: client, server

#53 refactor: 화면 공유 레이아웃 변경 및 개선
  client/src/app/room/[roomId]/style.module.scss
  client/src/components/screen/screen.module.scss
  client/src/components/screen/window/screenWindow.module.scss
  client/src/components/screen/window/screenWindow.tsx
  client/tsconfig.json
  server/.yarn/install-state.gz
Labels: client

#52 feat & fix: 방 페이지 진입 시 배경 그라데이션 추가 및 기타 수정
  client/src/app/room/[roomId]/hooks/useScreenShare.ts
  client/src/app/room/[roomId]/page.tsx
  client/src/app/room/[roomId]/style.module.scss
  client/src/app/style.module.scss
  client/src/components/background/room/gradient/roomGradientItem.module.scss
  client/src/components/background/room/gradient/roomGradientItem.tsx
  client/src/components/background/room/roomGradientBackground.module.scss
  client/src/components/background/room/roomGradientBackground.tsx
  client/src/components/chat/chat.tsx
  client/src/components/common/button/button.module.scss
  client/src/components/common/userInfo/userInfo.module.scss
  client/src/components/modals/createRoom/createRoom.tsx
  client/src/components/modals/login/login.tsx
  client/src/components/modals/renameRoom/renameRoom.tsx
  client/src/components/modals/timerSetting/timerSetting.tsx
Labels: client

#54 feat: 여러캐릭터 움직임 애니메이션
  client/public/player.png
  client/public/player1.png
  client/public/player2.png
  client/public/player3.png
  client/public/player4.png
  client/public/player5.png
  client/public/player6.png
  client/src/apis/repository/notification.repository.ts
  client/src/apis/service/notification.service.ts
  client/src/components/menu/menu.tsx
  client/src/components/phaser/map/phaserScene.ts
  client/src/components/timer/timer.tsx
  server/src/notification/notification.controller.ts
  server/src/notification/notification.service.ts
  server/src/phaser/phaser.gateway.ts
  server/src/rooms/rooms.service.ts
  server/src/users/users.repository.ts
Labels: client, server

#58 release: 1.0.2 배포
  client/src/app/room/[roomId]/page.tsx
Labels: release
