Repository FE-Ocean/MEETSIN, pull requests merged in 2025-06, with the labels that each got.

#101 fix: 액세스 토큰 대신 리프레시 토큰 사용하도록 수정
  client/src/apis/repository/room.repository.ts
  client/src/apis/repository/user.repository.ts
  client/src/apis/service/room.service.ts
  client/src/apis/service/user.service.ts
  client/src/app/layout.tsx
  client/src/app/lobby/page.tsx
  client/src/app/refreshProvider.tsx
  client/src/jotai/atom.ts
  client/src/middleware.ts
  client/src/modules/fetchClient.ts
  client/src/utils/getToken.utill.ts
  server/src/common/guards/auth.guard.ts
  server/src/modules/auth/auth.controller.ts
  server/src/modules/auth/auth.module.ts
  server/src/modules/auth/auth.service.ts
  server/src/modules/auth/strategies/jwt.strategy.ts
  server/src/modules/users/schemas/user.schema.ts
  server/src/modules/users/users.repository.ts
  server/src/modules/users/users.service.ts
Labels: client, server

#103 release: 1.2.0 배포
  client/src/apis/repository/room.repository.ts
  client/src/apis/repository/user.repository.ts
  client/src/apis/service/room.service.ts
  client/src/apis/service/user.service.ts
  client/src/app/layout.tsx
  client/src/app/lobby/page.tsx
  client/src/app/refreshProvider.tsx
  client/src/app/room/[roomId]/hooks/useChatSocket.ts
  client/src/components/chat/messageInput/hooks/useMessage.ts
  client/src/components/chat/messageInput/messageInput.tsx
  client/src/components/chat/messageList/messageList.tsx
  client/src/components/chat/receivedMessage/receivedMessage.module.scss
  client/src/components/chat/receivedMessage/receivedMessage.tsx
  client/src/components/common/userCharacter/userCharacter.module.scss
  client/src/components/common/userCharacter/userCharacter.tsx
  client/src/components/menu/roomUserInfo/roomUserInfo.module.scss
  client/src/components/menu/roomUserInfo/roomUserInfo.tsx
  client/src/components/phaser/map/managers/inputManager.ts
  client/src/components/phaser/map/managers/playerManager.ts
  client/src/components/phaser/map/managers/socketManager.ts
  client/src/components/phaser/map/map.tsx
  client/src/components/phaser/map/phaserScene.ts
  client/src/components/room/roomContent.tsx
  client/src/jotai/atom.ts
  client/src/middleware.ts
  client/src/modules/fetchClient.ts
  client/src/types/chat.type.ts
  client/src/types/phaser.type.ts
  client/src/utils/getToken.utill.ts
  server/src/common/guards/auth.guard.ts
  server/src/modules/auth/auth.controller.ts
  server/src/modules/auth/auth.module.ts
  server/src/modules/auth/auth.service.ts
  server/src/modules/auth/strategies/jwt.strategy.ts
  server/src/modules/phaser/phaser.gateway.ts
  server/src/modules/rooms/dto/message-info.dto.ts
  server/src/modules/rooms/rooms.gateway.ts
  server/src/modules/users/schemas/user.schema.ts
  server/src/modules/users/users.repository.ts
  server/src/modules/users/users.service.ts
Labels: release

#104 fix: configService -> process.env로 수정
  server/src/modules/auth/auth.controller.ts
  server/src/modules/auth/auth.module.ts
  server/src/modules/auth/auth.service.ts
  server/src/modules/auth/strategies/jwt.strategy.ts
Labels: bug, server

#109 fix: 룸 페이지 임포트 오류 수정
  client/src/components/phaser/map/map.tsx
  client/src/components/room/roomContent.tsx
Labels: bug, client

#110 fix: generateMetadata 시 리프레시 토큰 동작 수정
  client/next.config.js
  client/src/apis/repository/room.repository.ts
  client/src/apis/repository/user.repository.server.ts
  client/src/apis/repository/user.repository.ts
  client/src/app/room/[roomId]/layout.tsx
  client/src/modules/fetchClient.ts
Labels: bug, client

#108 design: 채팅창의 방 제목 크기 조절, 말 줄임 추가
  client/src/components/chat/chat.module.scss
Labels: client

#111 release: 1.2.3 배포
  client/next.config.js
  client/src/apis/repository/room.repository.ts
  client/src/apis/repository/user.repository.server.ts
  client/src/apis/repository/user.repository.ts
  client/src/app/room/[roomId]/layout.tsx
  client/src/components/chat/chat.module.scss
  client/src/components/phaser/map/map.tsx
  client/src/components/room/roomContent.tsx
  client/src/modules/fetchClient.ts
Labels: release

#113 release: 1.2.4 배포
  client/src/apis/repository/room.repository.ts
Labels: release

#115 fix: _id -> id로 수정
  server/src/modules/notification/notification.controller.ts
Labels: bug, server
