Repository FE-Ocean/MEETSIN, pull requests merged in 2025-02, with the labels that each got.

#72 fix: 캐릭터 이미지, 맵, 캐릭터 위치 조정 및 채팅관련 스타일 수정
  client/public/players/player1.png
  client/public/players/player2.png
  client/public/players/player3.png
  client/public/players/player4.png
  client/public/players/player5.png
  client/public/players/player6.png
  client/src/app/layout.tsx
  client/src/components/chat/chat.module.scss
  client/src/components/chat/messageInput/hooks/useMessage.ts
  client/src/components/chat/messageInput/messageInput.module.scss
  client/src/components/chat/messageList/messageList.module.scss
  client/src/components/chat/messageList/messageList.tsx
  client/src/components/chat/myMessage/myMessage.tsx
  client/src/components/chat/receivedMessage/receivedMessage.tsx
  client/src/components/phaser/map/phaserScene.ts
  client/src/query/queryProvider.tsx
  server/src/modules/auth/auth.controller.ts
  server/src/modules/rooms/rooms.gateway.ts
Labels: client

#76 release: 1.1.4 배포
  client/.eslintrc.json
  client/public/players/player1.png
  client/public/players/player2.png
  client/public/players/player3.png
  client/public/players/player4.png
  client/public/players/player5.png
  client/public/players/player6.png
  client/src/app/layout.tsx
  client/src/app/room/[roomId]/hooks/useScreenShare.ts
  client/src/components/chat/chat.module.scss
  client/src/components/chat/messageInput/hooks/useMessage.ts
  client/src/components/chat/messageInput/messageInput.module.scss
  client/src/components/chat/messageList/messageList.module.scss
  client/src/components/chat/messageList/messageList.tsx
  client/src/components/chat/myMessage/myMessage.tsx
  client/src/components/chat/receivedMessage/receivedMessage.tsx
  client/src/components/phaser/map/phaserScene.ts
  client/src/query/queryProvider.tsx
  server/.eslintrc.js
  server/src/modules/auth/auth.controller.ts
  server/src/modules/rooms/rooms.gateway.ts
Labels: release

#73 fix: 신규 가입 시 로그인이 되지 않는 문제 수정
  client/src/components/common/userInfo/userInfo.module.scss
  server/src/common/guards/auth.guard.ts
  server/src/modules/auth/auth.service.ts
  server/src/modules/users/users.repository.ts
Labels: bug, server

#75 fix: roomSocket 간헐적으로 동작하지 않는 문제 해결
  server/src/modules/rooms/rooms.gateway.ts
Labels: bug, server

#78 fix: 사용자 방 나갈 때 인원수 버그 수정, 채팅 인풋 관련 스타일 수정, 캐릭터와 맵 어긋남 수정
  client/public/map/urban.png
  client/public/players/player1.png
  client/public/players/player2.png
  client/public/players/player3.png
  client/public/players/player4.png
  client/public/players/player5.png
  client/public/players/player6.png
  client/src/app/room/[roomId]/hooks/useChatSocket.ts
  client/src/components/chat/messageInput/messageInput.module.scss
  client/src/components/chat/messageInput/messageInput.tsx
  client/src/components/chat/messageList/messageList.module.scss
  client/src/components/phaser/map/phaserScene.ts
  server/src/modules/rooms/rooms.gateway.ts
Labels: client, server

#79 docs: 리드미 작성
  README.md
Labels: documentation
