Repository FE-Ocean/MEETSIN, pull requests merged in 2025-05, with the labels that each got.

#98 fix: 게스트 로그인 토큰 만료 문제 수정
  server/src/common/guards/auth.guard.ts
Labels: bug, server

#96 fix: 페이저 관련 코드 버그 및 자잘한 수정
  client/src/components/home/homeContent.module.scss
  client/src/components/home/homeContent.tsx
  client/src/components/home/login/loginButton.module.scss
  client/src/components/home/login/loginButton.tsx
  client/src/components/modals/login/login.tsx
  client/src/components/phaser/map/managers/inputManager.ts
  client/src/components/phaser/map/map.tsx
  client/src/components/phaser/map/mapZoom/mapZoomButtons.module.scss
  client/src/components/phaser/map/mapZoom/mapZoomButtons.tsx
  client/src/components/phaser/map/phaserScene.ts
  client/src/components/room/roomContent.module.scss
  client/src/components/room/roomContent.tsx
  client/src/components/screen/viewSwitch/viewSwitchButton.module.scss
  client/src/components/screen/viewSwitch/viewSwitchButton.tsx
  client/test.txt
Labels: bug, client

#99 release: 1.1.12 배포
  client/src/apis/repository/notification.repository.ts
  client/src/apis/repository/room.repository.ts
  client/src/apis/repository/user.repository.ts
  client/src/apis/service/notification.service.ts
  client/src/apis/service/room.service.ts
  client/src/apis/service/user.service.ts
  client/src/app/room/[roomId]/hooks/useChatSocket.ts
  client/src/app/room/[roomId]/hooks/useScreenShare.ts
  client/src/app/room/[roomId]/layout.tsx
  client/src/components/background/room/roomGradientBackground.tsx
  client/src/components/chat/chat.tsx
  client/src/components/chat/messageList/messageList.tsx
  client/src/components/chat/myMessage/myMessage.tsx
  client/src/components/chat/receivedMessage/receivedMessage.tsx
  client/src/components/common/button/button.tsx
  client/src/components/common/notFound/notFound.tsx
  client/src/components/common/profileImage/profileImage.tsx
  client/src/components/common/userInfo/userButton/userButton.tsx
  client/src/components/common/userInfo/userInfo.tsx
  client/src/components/common/userInfo/userMenu/userMenu.tsx
  client/src/components/common/userInfo/userMenuItem/userMenuItem.tsx
  client/src/components/home/homeContent.module.scss
  client/src/components/home/homeContent.tsx
  client/src/components/home/login/loginButton.module.scss
  client/src/components/home/login/loginButton.tsx
  client/src/components/menu/linkCopyButton/linkCopyButton.tsx
  client/src/components/menu/menu.tsx
  client/src/components/menu/roomUserInfo/roomUserInfo.tsx
  client/src/components/modal/baseModal/baseModal.tsx
  client/src/components/modal/lazy/lazy.tsx
  client/src/components/modal/modalProvider/modalProvider.tsx
  client/src/components/modals/login/login.tsx
  client/src/components/modals/renameRoom/renameRoom.tsx
  client/src/components/modals/testModal/testModal.tsx
  client/src/components/modals/timerSetting/timerSetting.tsx
  client/src/components/phaser/map/managers/configManager.ts
  client/src/components/phaser/map/managers/inputManager.ts
  client/src/components/phaser/map/managers/playerManager.ts
  client/src/components/phaser/map/managers/socketManager.ts
  client/src/components/phaser/map/map.tsx
  client/src/components/phaser/map/mapZoom/mapZoomButtons.module.scss
  client/src/components/phaser/map/mapZoom/mapZoomButtons.tsx
  client/src/components/phaser/map/phaserScene.ts
  client/src/components/room/roomCard/roomCard.tsx
  client/src/components/room/roomContent.module.scss
  client/src/components/room/roomContent.tsx
  client/src/components/screen/screen.tsx
  client/src/components/screen/viewSwitch/viewSwitchButton.module.scss
  client/src/components/screen/viewSwitch/viewSwitchButton.tsx
  client/src/components/screen/window/screenWindow.tsx
  client/src/components/timer/timer.tsx
  client/src/jotai/atom.ts
  client/src/types/chat.type.ts
  client/src/types/peer.type.ts
  client/src/types/phaser.type.ts
  client/src/types/room.type.ts
  client/src/types/subscription.type.ts
  client/src/types/user.type.ts
  client/test.txt
  server/src/common/guards/auth.guard.ts
Labels: release

#100 release: 1.1.13 배포
  .github/workflows/server-deployment.yml
Labels: release
