Repository FE-Ocean/MEETSIN, pull requests merged in 2025-01, with the labels that each got.

#62 feat: clarity 설정
  client/src/app/analysis.tsx
  client/src/app/layout.tsx
Labels: client

#63 fix: QA 관련사항 수정
  client/public/icons/zoom_in.svg
  client/public/icons/zoom_out.svg
  client/src/app/page.tsx
  client/src/app/room/[roomId]/page.tsx
  client/src/components/button/mapZoom/mapZoomButtons.module.scss
  client/src/components/button/mapZoom/mapZoomButtons.tsx
  client/src/components/common/userInfo/userMenu/userMenu.module.scss
  client/src/components/common/userInfo/userMenuItem/userMenuItem.module.scss
  client/src/components/menu/notificationSwitch/notificationSwitch.tsx
  client/src/components/menu/roomUserInfo/roomUserInfo.module.scss
  client/src/components/modals/timerSetting/timerSetting.tsx
  client/src/components/phaser/map/map.module.scss
  client/src/components/phaser/map/map.tsx
  client/src/components/phaser/map/phaserScene.ts
  client/src/components/timer/hooks/useTimer.tsx
  client/src/components/timer/timer.tsx
  client/src/constants/zoomLevel.const.ts
  client/src/jotai/atom.ts
  server/src/modules/rooms/dto/create-room.dto.ts
  server/src/modules/rooms/rooms.gateway.ts
Labels: client, server

#61 fix: qa 수정
  client/src/apis/repository/user.repository.ts
  client/src/apis/service/room.service.ts
  client/src/apis/service/user.service.ts
  client/src/app/room/[roomId]/hooks/useScreenShare.ts
  client/src/app/room/[roomId]/page.tsx
  client/src/app/style.module.scss
  client/src/components/buttons/login/loginButton.module.scss
  client/src/components/buttons/login/loginButton.tsx
  client/src/components/buttons/viewSwitch/viewSwitchButton.module.scss
  client/src/components/buttons/viewSwitch/viewSwitchButton.tsx
  client/src/components/common/userInfo/userMenu/userMenu.tsx
  client/src/components/modals/login/login.tsx
  client/src/components/phaser/map/phaserScene.ts
  client/src/components/screen/window/screenWindow.tsx
  client/src/constants/queryKey.const.ts
  client/src/query/newQueryProvider.tsx
  server/src/modules/auth/auth.controller.ts
Labels: bug, client, server

#65 fix: 클라이언트 액션 오류 수정
  build.sh
Labels: client

#66 release: 1.1.1 배포
  build.sh
Labels: release

#67 fix: import 중복으로 들어간 부분 수정
  client/src/app/room/[roomId]/page.tsx
Labels: bug, client

#69 fix: 린트 에러 수정
  client/src/app/room/[roomId]/hooks/useScreenShare.ts
  client/src/components/phaser/map/phaserScene.ts
Labels: bug, client

#70 release: 1.1.3 배포
  client/src/app/room/[roomId]/hooks/useScreenShare.ts
  client/src/components/phaser/map/phaserScene.ts
Labels: release
