Repository FE-Ocean/MEETSIN, pull requests merged in 2025-04, with the labels that each got.

#84 fix: 성공, 실패 시의 api 응답 형식 통일
  client/src/apis/repository/notification.repository.ts
  client/src/apis/repository/room.repository.ts
  client/src/apis/repository/user.repository.ts
  client/src/apis/service/notification.service.ts
  client/src/apis/service/room.service.ts
  client/src/apis/service/user.service.ts
  client/src/modules/fetchClient.ts
  client/src/query/newQueryProvider.tsx
  server/src/app.module.ts
  server/src/common/interceptors/response.interceptor.ts
  server/src/common/interfaces/response.interface.ts
  server/src/modules/auth/auth.controller.ts
  server/src/modules/notification/notification.controller.ts
  server/src/modules/rooms/rooms.controller.ts
Labels: client, server

#86 release: 1.1.8 배포
  client/src/apis/repository/notification.repository.ts
  client/src/apis/repository/room.repository.ts
  client/src/apis/repository/user.repository.ts
  client/src/apis/service/notification.service.ts
  client/src/apis/service/room.service.ts
  client/src/apis/service/user.service.ts
  client/src/modules/fetchClient.ts
  client/src/query/newQueryProvider.tsx
  server/src/app.module.ts
  server/src/common/interceptors/response.interceptor.ts
  server/src/common/interfaces/response.interface.ts
  server/src/modules/auth/auth.controller.ts
  server/src/modules/notification/notification.controller.ts
  server/src/modules/rooms/rooms.controller.ts
Labels: release

#87 style: 코드 포맷팅 수정 (린트 에러 해결)
  client/src/query/newQueryProvider.tsx
Labels: client

#88 release: 1.1.9 배포
  client/src/query/newQueryProvider.tsx
Labels: release

#89 feat: seo 개선
  client/.yarn/install-state.gz
  client/public/google83dede4118a0d7d2.html
  client/public/images/og-image.png
  client/src/apis/repository/room.repository.ts
  client/src/app/(home)/page.tsx
  client/src/app/googleAnalytics.tsx
  client/src/app/layout.tsx
  client/src/app/lobby/page.tsx
  client/src/app/msClarity.tsx
  client/src/app/room/[roomId]/layout.tsx
  client/src/app/room/[roomId]/page.tsx
  client/src/components/home/homeContent.tsx
  client/src/components/room/roomContent.tsx
  client/src/utils/getToken.utill.ts
Labels: client

#90 feat: 게스트 로그인 기능 추가
  client/public/icons/login/guest.svg
  client/src/components/buttons/login/loginButton.module.scss
  client/src/components/modals/login/login.module.scss
  client/src/constants/login.const.ts
  server/src/modules/auth/auth.controller.ts
Labels: client, server

#91 release: 1.1.10 배포
  client/.yarn/install-state.gz
  client/public/google83dede4118a0d7d2.html
  client/public/icons/login/guest.svg
  client/public/images/og-image.png
  client/src/apis/repository/room.repository.ts
  client/src/app/(home)/page.tsx
  client/src/app/googleAnalytics.tsx
  client/src/app/layout.tsx
  client/src/app/lobby/page.tsx
  client/src/app/msClarity.tsx
  client/src/app/room/[roomId]/layout.tsx
  client/src/app/room/[roomId]/page.tsx
  client/src/components/buttons/login/loginButton.module.scss
  client/src/components/home/homeContent.tsx
  client/src/components/modals/login/login.module.scss
  client/src/components/room/roomContent.tsx
  client/src/constants/login.const.ts
  client/src/utils/getToken.utill.ts
  server/src/modules/auth/auth.controller.ts
Labels: release

#92 fix: 이미지, 폰트 프리로드 설정
  client/next.config.js
  client/src/app/layout.tsx
  client/src/components/home/homeContent.tsx
  client/src/components/modals/timerSetting/timerSetting.module.scss
  client/src/components/timer/timer.module.scss
  client/src/styles/timer.woff2
Labels: client

#94 release: 1.1.11 배포
  client/next.config.js
  client/src/app/layout.tsx
  client/src/components/home/homeContent.tsx
  client/src/components/modals/timerSetting/timerSetting.module.scss
  client/src/components/timer/timer.module.scss
  client/src/styles/timer.woff2
Labels: release

#93 refactor: phaserScene 리팩토링
  client/src/components/phaser/map/managers/configManager.ts
  client/src/components/phaser/map/managers/inputManager.ts
  client/src/components/phaser/map/managers/playerManager.ts
  client/src/components/phaser/map/managers/socketManager.ts
  client/src/components/phaser/map/map.tsx
  client/src/components/phaser/map/phaserScene.ts
  client/src/types/phaser.type.ts
Labels: client

#95 chore: interface, type 컨벤션 안지킨것들 수정
  client/src/apis/repository/notification.repository.ts
  client/src/apis/repository/room.repository.ts
  client/src/apis/repository/user.repository.ts
  client/src/apis/service/notification.service.ts
  client/src/apis/service/room.service.ts
  client/src/apis/service/user.service.ts
  client/src/app/room/[roomId]/hooks/useChatSocket.ts
  client/src/app/room/[roomId]/hooks/useScreenShare.ts
  client/src/app/room/[roomId]/layout.tsx
  client/src/components/background/room/roomGradientBackground.tsx
  client/src/components/buttons/login/loginButton.tsx
  client/src/components/buttons/viewSwitch/viewSwitchButton.tsx
  client/src/components/chat/chat.tsx
  client/src/components/chat/messageList/messageList.tsx
  client/src/components/chat/myMessage/myMessage.tsx
  client/src/components/chat/receivedMessage/receivedMessage.tsx
  client/src/components/common/button/button.tsx
  client/src/components/common/notFound/notFound.tsx
  client/src/components/common/profileImage/profileImage.tsx
  client/src/components/common/userInfo/userButton/userButton.tsx
  client/src/components/common/userInfo/userInfo.tsx
  client/src/components/common/userInfo/userMenu/userMenu.tsx
  client/src/components/common/userInfo/userMenuItem/userMenuItem.tsx
  client/src/components/menu/linkCopyButton/linkCopyButton.tsx
  client/src/components/menu/menu.tsx
  client/src/components/menu/roomUserInfo/roomUserInfo.tsx
  client/src/components/modal/baseModal/baseModal.tsx
  client/src/components/modal/lazy/lazy.tsx
  client/src/components/modal/modalProvider/modalProvider.tsx
  client/src/components/modals/renameRoom/renameRoom.tsx
  client/src/components/modals/testModal/testModal.tsx
  client/src/components/modals/timerSetting/timerSetting.tsx
  client/src/components/phaser/map/phaserScene.ts
  client/src/components/room/roomCard/roomCard.tsx
  client/src/components/room/roomContent.tsx
  client/src/components/screen/screen.tsx
  client/src/components/screen/window/screenWindow.tsx
  client/src/components/timer/timer.tsx
  client/src/jotai/atom.ts
  client/src/types/chat.type.ts
  client/src/types/peer.type.ts
  client/src/types/phaser.type.ts
  client/src/types/room.type.ts
  client/src/types/subscription.type.ts
  client/src/types/user.type.ts
Labels: client
